<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MAMN01_project.Fullscreen"
        tools:targetApi="31">
        <activity
            android:name=".AlarmActivity"
            android:exported="false"
            android:launchMode="singleTask"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <!-- Theme.MAMN01_project -->
        <activity
            android:name=".Wake"
            android:exported="true"
            android:label="@string/title_activity_wake"
            >

            <!--
            android:taskAffinity=""
             -->


            <meta-data
                android:name="android.app.lib_name"
                android:value="" />


           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

    </application>

</manifest>